:root
{
	--whiteColor: rgb(250,250,250);
	--shadowDepth: rgb(230,230,230);
	--uniqueColor: rgb(90,170,90);
	--fontDark: rgb(10,10,10);
	--fontLight: rgb(255,255,255);
	--darkGrey: rgb(30,30,30);
	--medGrey: rgb(60,60,60);
}


/* MAIN */

body
{
	background-color: var(--whiteColor);
	font-family: Arial, Verdana, sans-serif;
	float: none;
	margin: 0;
	padding: 0;
}



header
{
	/*overflow: hidden;*/
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 2;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.nameletter
{
	text-align: center;
	font-size: 3vw;
	font-family: 'Rubik Mono One';
	color: var(--fontLight);
	background-color: var(--medGrey);
	border-bottom: 0.4vw solid var(--uniqueColor);
	border-radius: 0.2vw;
	text-shadow: 0px 0px 0.5vw black, 0px 0px 7vw black;
	padding: 1vw;
	padding-top: 1.7vw;
	margin-top: 3vw;

	flex: 0 1 auto;

	/*box-shadow: 0 0 1px transparent;*/
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.nameletter:hover {
	-webkit-transform: skew(-15deg);
	transform: skew(-15deg);
}

#profileImg
{
	width: 10vw;
	border-radius: 50%;
	margin-left: 9.5vw;
	margin-top: 1vw;
	position: fixed;
	border: 0.4vw solid var(--uniqueColor);
	box-shadow: 0 15px 70px -20px black;
	z-index: 1;
}

footer
{
	text-align: center;
	font-size: 0.6rem;
	font-style: italic;
	word-spacing: 0.5rem;
	color: var(--fontLight);
	background-color: var(--medGrey);
	position: fixed;
	padding: 0.5rem;
	height: 0.5rem;
	bottom: 0;
	width: 100%;
}



/* MENU */
nav
{
	max-width: 15vw;
	margin-top: 2vh;
	border-right: 2px solid var(--darkGrey);
	text-align: center;
	font-weight: bold;

	position: fixed;
	padding-top: 2vh;
	padding-bottom: 2vh;
	height: 60vh;
	overflow-y: auto;
}

a
{
	font-size: 120%;
	color: var(--uniqueColor);
}

.artBtn
{
	font-weight: bold;
	background-color: rgba(250,250,250,0);
	color: var(--fontDark);
	text-align: center;
	-webkit-transition-duration: 0.2s; /*safari*/
	transition-duration: 0.2s;
	padding: 0.3em;
	width: 100%;
	border: 0px solid var(--whiteColor);
	border-radius: 0px;
}
.artBtn:focus, .artBtn:hover
{
	outline:0;
	color: var(--fontLight);
	border: none;
	background-color: var(--medGrey);
}




/* ARTICLE */
#articlePanel
{
	color: var(--darkGrey);
	background-color: var(--shadowDepth);
	box-shadow: 0 0 16vw 8vw var(--shadowDepth);
	margin-top: 10vw;
	margin-left: auto;
	margin-right: auto;
	/*width: 50vw;*/
	width: 55vw;
	max-width: 55em;
}

h1
{
	text-align: center;
	font-size: 4vw;
}
h2
{
	font-size: 2vw;
	color: var(--fontDark);
}

table
{
	width: 80%;
	margin: 40px;
	border: 1px solid grey;
	size: 80%;
}

.imgWhole
{
	border: 5px;
	width: 90%;
	height: 90%;
}
/*.imgWhole:hover {
	transform:scale(1.5,1.5);
}*/

.imgHalf
{
	border: 5px;
	margin: 0;
	width: 45%;
	height: 45%;
}
/*.imgHalf:hover {
	transform:scale(2,2);
}*/

.imgHalf, .imgWhole
{
	border-radius: 0.4vw;
	border: 1px solid var(--whiteColor);
	box-shadow: 0 20px 70px -20px black;
}



.date
{
	font-style: italic;
	font-size: 70%;
	padding: 20px;
	text-align: center;
}

.code
{
	font-family: Courier_New, Lucida, Monospace;
	color: rgb(180,255,200);
	font-size: 90%;
	background-color: var(--darkGrey);
	margin: 20px;
	margin-left: 40px;
	margin-right: 40px;
	border: 10px solid var(--darkGrey);
	border-radius: 5px;
}


/*RESPONSIVE BITCHES!!!*/
/*@media only screen and (max-width: 35rem), only screen and (max-height: 40rem) */
@media only screen and (aspect-ratio: 1/1), only screen and (orientation: portrait) 
{
	nav 
	{
		max-width: 100%;

		position: relative;
		font-size: 80%;
		display: inline-flex;

		flex-flow: row wrap;
		justify-content: center;

		border-right: none;
		border-bottom: 2px solid var(--darkGrey);
	}	

	header
	{
		margin-right: 10vw;
	}

	a
	{
		width: 100%;
	}

	.artBtn
	{
		width: auto;
	}

	#profileImg
	{
		width: 10vw;
		border-radius: 50%;
		margin-left: 2vw;
		margin-top: 1vw;
		position: relative;
		float: left;
		border: 0.4vw solid var(--uniqueColor);
		box-shadow: 0 15px 70px -20px black;
	}

	#articlePanel
	{
		color: var(--darkGrey);
		background-color: var(--shadowDepth);
		box-shadow: 0 0 10vw 5vw var(--shadowDepth);
		margin-top: 10vw;
		margin-left: auto;
		margin-right: auto;
		/*width: 50vw;*/
		width: 100%;
		max-width: 100%;
	}
}
