/* MAIN */

body
{
	background-color: black;
	font-family: Arial, Verdana, sans-serif;
}

a
{
	color: rgb(100, 150, 255);
}

header
{
	text-align: center;
	font-size: 150%;
	font-style: bold;
	word-spacing: 10px;
	padding: 10px;
	color: white;
	font-style: bold;
	background-color: rgb(60,60,60);
	border-bottom: 2px solid rgb(100,100,100);
	border-radius: 1px;
}

footer
{
	text-align: center;
	font-size: 70%;
	font-style: italic;
	word-spacing: 5px;
	padding: 10px;
	color: white;
	background-color: rgb(60,60,60);
	border-radius: 1px;
}



/* MENU */

nav
{
	float: left;
	max-width: 170px;
	margin-top: 10px;
	border: none;
	border-right: 2px solid rgb(100,100,100);
	border-radius: 5px;

}

.artBtn
{
	/*background-color: rgba(60,60,60,10);*/
	background-color: black;
	color: white;
	text-align: center;
	/*display: inline-block;*/
	-webkit-transition-duration: 0.2s; /*safari*/
	transition-duration: 0.2s;
	padding: 8px;
	width: 100%;
	border: 1px solid black;
	border-radius: 2px;
}

.artBtn:hover
{
	border: 1px solid white;
	background-color: rgb(40,40,40);
}



/* ARTICLE */
#articlePanel
{
	color: rgb(240,240,240);
	margin: 0;
	margin-left: 180px;
	margin-right: 10px;
}

table
{
	width: 80%;
	margin: 40px;
	border: 1px solid grey;
	size: 80%;
}

.imgWhole
{
	border: 5px;
	width: 80%;
	height: 80%;
}

.imgHalf
{
	border: 5px;
	margin: 0;
	width: 40%;
	height: 40%;
}

.date
{
	font-style: italic;
	font-size: 70%;
	padding: 20px;
	text-align: center;
}

.code
{
	font-family: Courier_New, Lucida, Monospace;
	color: rgb(180,255,200);
	background-color: rgb(20,20,20);
	margin: 20px;
	margin-left: 60px;
	margin-right: 60px;
	border: 10px solid rgb(30,30,30);
	border-radius: 5px;
}